body{
    background-color: #e5dfeb
}
header{
    background: linear-gradient(72deg, #06075e 1%, #33012a 99%);
}
.menu{
    margin-left: 142px;
    margin-top: 35px;
}
.menu .menuFake{
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
}
.menu .menulinha{
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
}
.menu .menulinha span{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #FFF;
    border-radius: 3px;
    transition: all ease .2s;
}
.menu .menuFake:checked ~ .menulinha span:nth-child(1){
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);
}
.menu .menuFake:checked ~ .menulinha span:nth-child(2){
    opacity: 0;
}
.menu .menuFake:checked ~ .menulinha span:nth-child(3){
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);
}
.menu ul{
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 300px;
    height: 655px;
    background-color: #2b2a2b;
    padding-top: 100px;
    margin-left: -300px;
    transition: all ease .5s;
}
.menu .menuFake:checked ~ ul{
    margin-left: 0;
}
.menu ul li{
    padding: 10px 30px;
}
.menu ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 22px;
    transition: all ease .3s;
}
.menu ul li a:hover{
    color: #656166;
}
.comeco h1{
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bold;
    color: #FFF;
    padding-top: 15%;
	letter-spacing: .20em;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shadows Into Light', cursive;
}
a{
    text-decoration: none;
}
.comeco .imgBand{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 23%;
}
.audio{
    margin-left: 3%;
    position: absolute;
    margin-top: 3%;

}
.parte1{
    font-family: Arial;
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}
.parte2{
    font-family: Arial;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
.parte3{
    font-family: Arial;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}
.cards{
    margin-top: 30px;
}
.cards img{
    padding-left: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    opacity: 0.8;
}
.final{
    width: 100%;
    height: 50px;
    background: linear-gradient(72deg, #06075e 1%, #33012a 99%);  
    text-align: center;
}
.final h1{
  
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 15px;
    font-weight: bold;
    color: #FFF;
	letter-spacing: .20em;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shadows Into Light', cursive;
}